@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  /* max-width: full; */
  /* margin: auto;
  min-height: 90vh;
  padding: 10px; */
  /* margin: auto; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
